<% layout("/layouts/boilerplate") %>
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>
    <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
            <div class="card shadow-sm rounded-3">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Login</h4>
                    <form action="/login" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input name="username" placeholder="Enter a username" type="text" id="username" required
                                class="form-control" />
                            <div class="invalid-feedback">
                                Please enter a username.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input name="password" placeholder="Enter a Password" type="password" id="password" required
                                class="form-control" />
                            <div class="invalid-feedback">
                                Please enter a password.
                            </div>
                        </div>
                        <button class="btn btn-success w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>